<div class="snow">
    <div class="snow-layer">
        <div class="snow-fall"></div>
    </div>
    <div class="snow-layer">
        <div class="snow-fall"></div>
    </div>
    <div class="snow-layer">
        <div class="snow-fall"></div>
        <div class="snow-fall"></div>
        <div class="snow-fall"></div>
    </div>
    <div class="snow-layer">
        <div class="snow-fall"></div>
    </div>
</div>
